<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Main page</title>
        <link rel = "stylesheet" href= "">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    </head>
    <body>
        <div class='container'>
            <div class='row'>
                <h1>HTML Code</h1> 
                <p class='lead'><?php echo $user->name ?></p>
            </div>
        </div>
        <script src="//code.jquery.com/jquery.js"></script>
        <script src = ""></script>
    </body>
</html>

